body {
  background-image: url(https://images.unsplash.com/photo-1532300481631-0bc14f3b7699?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80);
  background-size: cover;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.chart-buttons {
  position: fixed;
  bottom: 50px;
  display: flex;
}

.chart-buttons button {
  border: transparent;
  background-color: #ff7070;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px #888;
  cursor: pointer;
}

.chart-buttons button:disabled {
  opacity: 0.8;
  cursor: initial;
}

.chart-buttons button:first-child {
  margin-right: 20px;
}